# Day 3: Pandas Data Manipulation

Pandas is the powerhouse library for data manipulation in Python. Today we'll master:

1. **DataFrames**: Creation, indexing, and filtering
2. **Handling Missing Data**: dropna, fillna, interpolation
3. **GroupBy Operations**: Aggregations and transformations
4. **Merging and Joining**: Combining datasets
5. **Assignment**: Clean a messy dataset

---

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

# Display settings
pd.set_option('display.max_columns', 20)
pd.set_option('display.width', 200)
pd.set_option('display.precision', 2)

print(f"Pandas Version: {pd.__version__}")
print("Ready to learn Pandas!")

---

## 1. DataFrames: Creation, Indexing, and Filtering

### 1.1 Creating DataFrames

In [ ]:
# Method 1: From a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'Salary': [70000, 80000, 90000, 75000, 85000]
}

df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)

In [ ]:
# Method 2: From a list of dictionaries
records = [
    {'Name': 'Frank', 'Age': 40, 'City': 'Boston', 'Salary': 95000},
    {'Name': 'Grace', 'Age': 27, 'City': 'Seattle', 'Salary': 72000},
    {'Name': 'Henry', 'Age': 33, 'City': 'Denver', 'Salary': 88000}
]

df_records = pd.DataFrame(records)
print("DataFrame from list of dictionaries:")
print(df_records)

In [ ]:
# Method 3: From NumPy array
np_data = np.random.randint(1, 100, (5, 4))
df_numpy = pd.DataFrame(
    np_data,
    columns=['A', 'B', 'C', 'D'],
    index=['row1', 'row2', 'row3', 'row4', 'row5']
)
print("DataFrame from NumPy array:")
print(df_numpy)

In [ ]:
# Loading built-in datasets
titanic = sns.load_dataset('titanic')
tips = sns.load_dataset('tips')
iris = sns.load_dataset('iris')

print("Titanic dataset shape:", titanic.shape)
print("Tips dataset shape:", tips.shape)
print("Iris dataset shape:", iris.shape)

### 1.2 DataFrame Exploration

In [ ]:
# Basic exploration methods
print("First 5 rows:")
print(titanic.head())

print("\nLast 5 rows:")
print(titanic.tail())

In [ ]:
# DataFrame info
print("DataFrame Info:")
print(titanic.info())

In [ ]:
# Shape, columns, and index
print(f"Shape: {titanic.shape}")
print(f"\nColumns: {list(titanic.columns)}")
print(f"\nIndex: {titanic.index}")
print(f"\nData types:\n{titanic.dtypes}")

In [ ]:
# Statistical summary
print("Statistical Summary (numerical columns):")
print(titanic.describe())

In [ ]:
# Summary for all columns including categorical
print("Summary (all columns):")
print(titanic.describe(include='all'))

### 1.3 Indexing and Selection

In [ ]:
# Selecting columns
print("Single column (returns Series):")
print(titanic['age'].head())

print("\nMultiple columns (returns DataFrame):")
print(titanic[['age', 'sex', 'survived']].head())

In [ ]:
# loc - Label-based indexing
print("Using loc (label-based):")
print("\nRow 0:")
print(titanic.loc[0])

print("\nRows 0-4, specific columns:")
print(titanic.loc[0:4, ['name', 'age', 'sex']])

In [ ]:
# iloc - Integer-based indexing
print("Using iloc (integer-based):")
print("\nFirst 3 rows, first 4 columns:")
print(titanic.iloc[:3, :4])

print("\nSpecific rows and columns:")
print(titanic.iloc[[0, 5, 10], [1, 2, 3]])

In [ ]:
# Single value access
print(f"Value at row 0, column 'age': {titanic.loc[0, 'age']}")
print(f"Value at row 0, column 3: {titanic.iloc[0, 3]}")

# Using at and iat for faster scalar access
print(f"Using at: {titanic.at[0, 'age']}")
print(f"Using iat: {titanic.iat[0, 3]}")

### 1.4 Filtering Data

In [ ]:
# Boolean filtering
print("Passengers older than 50:")
print(titanic[titanic['age'] > 50].head())

In [ ]:
# Multiple conditions
# Use & for AND, | for OR, ~ for NOT
# Always wrap conditions in parentheses

# Female passengers who survived
female_survived = titanic[(titanic['sex'] == 'female') & (titanic['survived'] == 1)]
print(f"Female survivors: {len(female_survived)}")
print(female_survived.head())

In [ ]:
# First class OR second class passengers
upper_class = titanic[(titanic['pclass'] == 1) | (titanic['pclass'] == 2)]
print(f"First or Second class passengers: {len(upper_class)}")

# Alternative using isin()
upper_class_alt = titanic[titanic['pclass'].isin([1, 2])]
print(f"Using isin(): {len(upper_class_alt)}")

In [ ]:
# NOT condition
not_third_class = titanic[~(titanic['pclass'] == 3)]
print(f"Not third class: {len(not_third_class)}")

In [ ]:
# Using query() method - cleaner syntax
result = titanic.query('age > 30 and sex == "male" and survived == 1')
print(f"Male survivors over 30: {len(result)}")
print(result.head())

In [ ]:
# String filtering
# Names containing 'Mrs'
mrs_passengers = titanic[titanic['who'] == 'woman']
print(f"Women passengers: {len(mrs_passengers)}")

# Using str accessor for string operations
# (Note: 'name' column doesn't exist in seaborn's titanic, this is illustrative)
print("\nClass distribution:")
print(titanic['class'].value_counts())

In [ ]:
# Between filter
age_between = titanic[titanic['age'].between(20, 30)]
print(f"Passengers aged 20-30: {len(age_between)}")

---

## 2. Handling Missing Data

Missing data is common in real-world datasets. Pandas provides several methods to handle it.

In [ ]:
# Check missing values
print("Missing values per column:")
print(titanic.isnull().sum())

print(f"\nTotal missing values: {titanic.isnull().sum().sum()}")

In [ ]:
# Missing value percentage
missing_percent = (titanic.isnull().sum() / len(titanic) * 100).round(2)
print("Missing value percentage:")
print(missing_percent[missing_percent > 0])

In [ ]:
# Visualize missing data
plt.figure(figsize=(10, 6))
sns.heatmap(titanic.isnull(), cbar=True, yticklabels=False, cmap='viridis')
plt.title('Missing Values Heatmap', fontsize=14)
plt.show()

### 2.1 Dropping Missing Values

In [ ]:
# Create a sample DataFrame with missing values
df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, np.nan, 5],
    'C': [1, 2, 3, 4, 5],
    'D': [np.nan, np.nan, np.nan, np.nan, 5]
})
print("Original DataFrame:")
print(df_missing)

In [ ]:
# dropna - remove rows with any missing values
print("After dropna() - remove rows with any NaN:")
print(df_missing.dropna())

In [ ]:
# Drop rows only if ALL values are missing
print("Drop rows where ALL values are NaN:")
print(df_missing.dropna(how='all'))

In [ ]:
# Drop columns with missing values
print("Drop columns with any NaN:")
print(df_missing.dropna(axis=1))

In [ ]:
# Drop rows with missing values in specific columns
print("Drop rows with NaN in column 'A':")
print(df_missing.dropna(subset=['A']))

In [ ]:
# thresh - keep rows with at least n non-null values
print("Keep rows with at least 3 non-null values:")
print(df_missing.dropna(thresh=3))

### 2.2 Filling Missing Values

In [ ]:
# fillna with a constant value
print("Fill with 0:")
print(df_missing.fillna(0))

In [ ]:
# Fill with different values per column
fill_values = {'A': 0, 'B': 999, 'D': -1}
print("Fill with different values per column:")
print(df_missing.fillna(fill_values))

In [ ]:
# Fill with mean/median/mode
df_missing_copy = df_missing.copy()

# Fill column A with mean
df_missing_copy['A'] = df_missing_copy['A'].fillna(df_missing_copy['A'].mean())
print(f"Column A mean: {df_missing['A'].mean():.2f}")
print("\nAfter filling A with mean:")
print(df_missing_copy)

In [ ]:
# Forward fill (ffill) - use previous value
print("Forward fill:")
print(df_missing.ffill())

In [ ]:
# Backward fill (bfill) - use next value
print("Backward fill:")
print(df_missing.bfill())

### 2.3 Interpolation

In [ ]:
# Create time series-like data
ts_data = pd.DataFrame({
    'value': [1, np.nan, np.nan, 4, 5, np.nan, 7, 8, np.nan, 10]
})
print("Original:")
print(ts_data)

In [ ]:
# Linear interpolation
print("Linear interpolation:")
print(ts_data.interpolate(method='linear'))

In [ ]:
# Visualize interpolation
fig, axes = plt.subplots(1, 3, figsize=(15, 4))

# Original
axes[0].plot(ts_data['value'], 'bo-', markersize=8)
axes[0].set_title('Original (with NaN)')
axes[0].set_ylabel('Value')

# Linear interpolation
linear_filled = ts_data.interpolate(method='linear')
axes[1].plot(linear_filled['value'], 'go-', markersize=8)
axes[1].set_title('Linear Interpolation')

# Polynomial interpolation
poly_filled = ts_data.interpolate(method='polynomial', order=2)
axes[2].plot(poly_filled['value'], 'ro-', markersize=8)
axes[2].set_title('Polynomial Interpolation (order=2)')

plt.tight_layout()
plt.show()

### 2.4 Practical Example: Handling Missing Values in Titanic

In [ ]:
# Copy titanic for manipulation
titanic_clean = titanic.copy()

print("Missing values before cleaning:")
print(titanic_clean.isnull().sum()[titanic_clean.isnull().sum() > 0])

In [ ]:
# Strategy 1: Fill age with median (robust to outliers)
titanic_clean['age'] = titanic_clean['age'].fillna(titanic_clean['age'].median())

print(f"Age median: {titanic['age'].median():.1f}")
print(f"Age missing after fill: {titanic_clean['age'].isnull().sum()}")

In [ ]:
# Strategy 2: Fill embarked with mode (most frequent)
titanic_clean['embarked'] = titanic_clean['embarked'].fillna(titanic_clean['embarked'].mode()[0])
titanic_clean['embark_town'] = titanic_clean['embark_town'].fillna(titanic_clean['embark_town'].mode()[0])

print(f"Embarked mode: {titanic['embarked'].mode()[0]}")
print(f"Embarked missing after fill: {titanic_clean['embarked'].isnull().sum()}")

In [ ]:
# Strategy 3: Drop deck column (too many missing values - 77%)
titanic_clean = titanic_clean.drop('deck', axis=1)

print("\nMissing values after cleaning:")
print(titanic_clean.isnull().sum().sum())

---

## 3. GroupBy Operations

GroupBy allows you to split data, apply functions, and combine results.

### 3.1 Basic GroupBy

In [ ]:
# Group by single column
grouped = titanic.groupby('sex')
print(f"GroupBy object: {type(grouped)}")
print(f"Number of groups: {grouped.ngroups}")
print(f"Groups: {list(grouped.groups.keys())}")

In [ ]:
# Mean of all numeric columns by sex
print("Mean by sex:")
print(titanic.groupby('sex')[['age', 'fare', 'survived']].mean())

In [ ]:
# Group by multiple columns
print("Survival rate by sex and class:")
print(titanic.groupby(['sex', 'pclass'])['survived'].mean().round(3))

In [ ]:
# Unstack for better readability
print("Survival rate (unstacked):")
print(titanic.groupby(['sex', 'pclass'])['survived'].mean().unstack().round(3))

### 3.2 Aggregation Functions

In [ ]:
# Multiple aggregations
print("Multiple aggregations:")
print(titanic.groupby('pclass')['fare'].agg(['count', 'mean', 'median', 'std', 'min', 'max']))

In [ ]:
# Different aggregations for different columns
agg_dict = {
    'age': ['mean', 'median'],
    'fare': ['mean', 'sum'],
    'survived': ['sum', 'mean']
}

print("Different aggregations per column:")
result = titanic.groupby('pclass').agg(agg_dict)
print(result)

In [ ]:
# Named aggregations (cleaner output)
result = titanic.groupby('pclass').agg(
    avg_age=('age', 'mean'),
    median_age=('age', 'median'),
    total_fare=('fare', 'sum'),
    survival_rate=('survived', 'mean'),
    passenger_count=('survived', 'count')
)

print("Named aggregations:")
print(result.round(2))

In [ ]:
# Custom aggregation functions
def range_calc(x):
    return x.max() - x.min()

def coef_variation(x):
    return x.std() / x.mean() * 100

print("Custom aggregations:")
custom_agg = titanic.groupby('pclass')['fare'].agg(['mean', range_calc, coef_variation])
custom_agg.columns = ['Mean', 'Range', 'CV%']
print(custom_agg.round(2))

### 3.3 Transform

In [ ]:
# Transform returns data in the same shape as input
# Useful for creating new columns based on group statistics

# Create a copy for demonstration
df_transform = titanic[['pclass', 'age', 'fare']].copy()

# Add group mean as new column
df_transform['fare_group_mean'] = df_transform.groupby('pclass')['fare'].transform('mean')

# Calculate deviation from group mean
df_transform['fare_deviation'] = df_transform['fare'] - df_transform['fare_group_mean']

print("Transform example:")
print(df_transform.head(10))

In [ ]:
# Normalize within groups (z-score per group)
def zscore(x):
    return (x - x.mean()) / x.std()

df_transform['fare_zscore'] = df_transform.groupby('pclass')['fare'].transform(zscore)
print("\nZ-score normalized fare within groups:")
print(df_transform[['pclass', 'fare', 'fare_zscore']].head(10))

### 3.4 Filter

In [ ]:
# Filter groups based on group properties
# Keep only embarkation towns with more than 100 passengers

filtered = titanic.groupby('embark_town').filter(lambda x: len(x) > 100)
print(f"Original rows: {len(titanic)}")
print(f"After filtering: {len(filtered)}")
print(f"\nRemaining embark towns: {filtered['embark_town'].unique()}")

In [ ]:
# Filter groups where mean survival rate is above 0.5
high_survival = titanic.groupby('pclass').filter(lambda x: x['survived'].mean() > 0.5)
print(f"Classes with survival rate > 50%:")
print(high_survival['pclass'].unique())

---

## 4. Merging and Joining DataFrames

Combining data from multiple sources is essential in data analysis.

In [ ]:
# Create sample DataFrames
employees = pd.DataFrame({
    'emp_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'dept_id': [101, 102, 101, 103, 102]
})

departments = pd.DataFrame({
    'dept_id': [101, 102, 103, 104],
    'dept_name': ['Engineering', 'Marketing', 'Sales', 'HR']
})

salaries = pd.DataFrame({
    'emp_id': [1, 2, 3, 6],
    'salary': [70000, 65000, 80000, 75000]
})

print("Employees:")
print(employees)
print("\nDepartments:")
print(departments)
print("\nSalaries:")
print(salaries)

### 4.1 Merge (SQL-like joins)

In [ ]:
# Inner join (default) - only matching rows
inner_merged = pd.merge(employees, departments, on='dept_id')
print("Inner Join (employees + departments):")
print(inner_merged)

In [ ]:
# Left join - all rows from left, matching from right
left_merged = pd.merge(employees, salaries, on='emp_id', how='left')
print("Left Join (employees + salaries):")
print(left_merged)

In [ ]:
# Right join - all rows from right, matching from left
right_merged = pd.merge(employees, salaries, on='emp_id', how='right')
print("Right Join (employees + salaries):")
print(right_merged)

In [ ]:
# Outer join - all rows from both
outer_merged = pd.merge(employees, salaries, on='emp_id', how='outer')
print("Outer Join (employees + salaries):")
print(outer_merged)

In [ ]:
# Merge on different column names
df1 = pd.DataFrame({'id': [1, 2, 3], 'value': ['a', 'b', 'c']})
df2 = pd.DataFrame({'key': [1, 2, 4], 'data': ['x', 'y', 'z']})

merged = pd.merge(df1, df2, left_on='id', right_on='key', how='outer')
print("Merge with different column names:")
print(merged)

In [ ]:
# Multiple key columns
sales_data = pd.DataFrame({
    'year': [2020, 2020, 2021, 2021],
    'quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'revenue': [100, 120, 110, 130]
})

targets = pd.DataFrame({
    'year': [2020, 2020, 2021, 2021],
    'quarter': ['Q1', 'Q2', 'Q1', 'Q2'],
    'target': [95, 115, 105, 125]
})

merged = pd.merge(sales_data, targets, on=['year', 'quarter'])
merged['achievement'] = (merged['revenue'] / merged['target'] * 100).round(1)
print("Merge on multiple keys:")
print(merged)

### 4.2 Concatenation

In [ ]:
# Vertical concatenation (stacking rows)
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

print("df1:")
print(df1)
print("\ndf2:")
print(df2)

vertical = pd.concat([df1, df2], ignore_index=True)
print("\nVertical concatenation:")
print(vertical)

In [ ]:
# Horizontal concatenation (adding columns)
df3 = pd.DataFrame({'C': [9, 10], 'D': [11, 12]})

horizontal = pd.concat([df1, df3], axis=1)
print("Horizontal concatenation:")
print(horizontal)

In [ ]:
# Concatenation with different columns
df_a = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df_b = pd.DataFrame({'B': [5, 6], 'C': [7, 8]})

# Outer join (default) - includes all columns
outer_concat = pd.concat([df_a, df_b], ignore_index=True)
print("Outer concat (all columns):")
print(outer_concat)

# Inner join - only common columns
inner_concat = pd.concat([df_a, df_b], join='inner', ignore_index=True)
print("\nInner concat (common columns only):")
print(inner_concat)

### 4.3 Join (Index-based)

In [ ]:
# Join uses index by default
df1 = pd.DataFrame({'A': [1, 2, 3]}, index=['a', 'b', 'c'])
df2 = pd.DataFrame({'B': [4, 5, 6]}, index=['a', 'b', 'd'])

print("df1:")
print(df1)
print("\ndf2:")
print(df2)

# Left join on index
joined = df1.join(df2, how='outer')
print("\nJoin (outer):")
print(joined)

---

## 5. Assignment: Clean a Messy Dataset

Let's create and clean a messy dataset with common data quality issues.

In [ ]:
# Create a messy dataset
np.random.seed(42)

messy_data = pd.DataFrame({
    'customer_id': [1, 2, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13],
    'name': ['John', 'Jane', 'Jane', 'Bob', 'Alice', 'Charlie', 'Charlie', 
             'Diana', None, 'Frank', 'Grace', 'Henry', 'Ivy', 'Jack', 'Kate'],
    'age': [25, 30, 30, -5, 45, np.nan, np.nan, 28, 35, 150, 27, 33, np.nan, 29, 31],
    'email': ['john@email.com', 'jane@email.com', 'jane@email.com', 'bob@email', 
              'alice@email.com', None, None, 'diana@email.com', 'eve@email.com',
              'frank@email.com', 'grace@email.com', 'henry@email.com', 'ivy@email.com',
              'jack@email.com', 'kate@email.com'],
    'purchase_amount': [100, 200, 200, 150, np.nan, 300, 300, -50, 180, 220, 160, np.nan, 190, 210, 175],
    'purchase_date': ['2023-01-15', '2023-02-20', '2023-02-20', '2023-03-10', '2023-04-05',
                      '2023-05-12', '2023-05-12', '2023-06-18', '2023-07-22', '2023-08-30',
                      '2023-09-14', '2023-10-25', '2023-11-08', '2023-12-01', '2024-01-05'],
    'category': ['Electronics', 'Clothing', 'Clothing', 'electronics', 'CLOTHING', 
                 'Home', 'Home', 'Electronics', 'clothing', 'Home', 'Electronics',
                 'Clothing', 'Home', 'Electronics', 'Clothing']
})

print("Messy Dataset:")
print(messy_data)
print(f"\nShape: {messy_data.shape}")

In [ ]:
# Identify issues
print("=" * 60)
print("DATA QUALITY ISSUES IDENTIFIED:")
print("=" * 60)

# 1. Duplicates
print(f"\n1. Duplicate rows: {messy_data.duplicated().sum()}")
print("   Duplicate customer_ids:", messy_data[messy_data.duplicated(subset=['customer_id'], keep=False)]['customer_id'].unique())

# 2. Missing values
print(f"\n2. Missing values:")
print(messy_data.isnull().sum()[messy_data.isnull().sum() > 0])

# 3. Invalid ages
print(f"\n3. Invalid ages (< 0 or > 120):")
invalid_ages = messy_data[(messy_data['age'] < 0) | (messy_data['age'] > 120)]
print(invalid_ages[['customer_id', 'name', 'age']])

# 4. Negative purchase amounts
print(f"\n4. Negative purchase amounts:")
print(messy_data[messy_data['purchase_amount'] < 0][['customer_id', 'name', 'purchase_amount']])

# 5. Inconsistent categories
print(f"\n5. Inconsistent category values:")
print(messy_data['category'].unique())

In [ ]:
# CLEANING STEP 1: Remove duplicates
clean_df = messy_data.copy()
rows_before = len(clean_df)

clean_df = clean_df.drop_duplicates()
print(f"Step 1: Removed {rows_before - len(clean_df)} duplicate rows")
print(f"        Rows remaining: {len(clean_df)}")

In [ ]:
# CLEANING STEP 2: Handle invalid ages
# Replace invalid ages with NaN, then fill with median
clean_df.loc[(clean_df['age'] < 0) | (clean_df['age'] > 120), 'age'] = np.nan
median_age = clean_df['age'].median()
clean_df['age'] = clean_df['age'].fillna(median_age)

print(f"Step 2: Replaced invalid ages with median ({median_age:.0f})")
print(f"        Age range now: {clean_df['age'].min():.0f} - {clean_df['age'].max():.0f}")

In [ ]:
# CLEANING STEP 3: Handle negative purchase amounts
# Replace with absolute value (assuming data entry error)
clean_df['purchase_amount'] = clean_df['purchase_amount'].abs()

# Fill missing purchase amounts with median
median_purchase = clean_df['purchase_amount'].median()
clean_df['purchase_amount'] = clean_df['purchase_amount'].fillna(median_purchase)

print(f"Step 3: Fixed negative amounts and filled missing with median ({median_purchase:.0f})")

In [ ]:
# CLEANING STEP 4: Standardize categories
clean_df['category'] = clean_df['category'].str.title()  # Capitalize first letter

print(f"Step 4: Standardized category values")
print(f"        Unique categories: {clean_df['category'].unique()}")

In [ ]:
# CLEANING STEP 5: Handle missing names
clean_df['name'] = clean_df['name'].fillna('Unknown')

print(f"Step 5: Filled missing names with 'Unknown'")

In [ ]:
# CLEANING STEP 6: Convert purchase_date to datetime
clean_df['purchase_date'] = pd.to_datetime(clean_df['purchase_date'])

print(f"Step 6: Converted purchase_date to datetime")
print(f"        Date range: {clean_df['purchase_date'].min()} to {clean_df['purchase_date'].max()}")

In [ ]:
# FEATURE ENGINEERING: Create new features
clean_df['purchase_month'] = clean_df['purchase_date'].dt.month
clean_df['purchase_quarter'] = clean_df['purchase_date'].dt.quarter
clean_df['age_group'] = pd.cut(clean_df['age'], 
                                bins=[0, 25, 35, 50, 100], 
                                labels=['18-25', '26-35', '36-50', '50+'])

print("Feature Engineering: Created new features")
print(f"  - purchase_month")
print(f"  - purchase_quarter")
print(f"  - age_group")

In [ ]:
# Final cleaned dataset
print("\n" + "=" * 60)
print("CLEANED DATASET:")
print("=" * 60)
print(clean_df)

print("\nData Types:")
print(clean_df.dtypes)

print("\nMissing Values:")
print(clean_df.isnull().sum())

In [ ]:
# Summary statistics of cleaned data
print("\nCleaned Data Summary:")
print(clean_df.describe())

In [ ]:
# Analyze cleaned data
print("\nAnalysis of Cleaned Data:")
print("=" * 60)

print("\nPurchase amount by category:")
print(clean_df.groupby('category')['purchase_amount'].agg(['count', 'mean', 'sum']).round(2))

print("\nPurchase amount by age group:")
print(clean_df.groupby('age_group')['purchase_amount'].agg(['count', 'mean', 'sum']).round(2))

In [ ]:
# Visualize cleaned data
fig, axes = plt.subplots(2, 2, figsize=(14, 10))

# Purchase by category
category_sales = clean_df.groupby('category')['purchase_amount'].sum()
axes[0, 0].bar(category_sales.index, category_sales.values, color='steelblue')
axes[0, 0].set_title('Total Purchases by Category', fontsize=12)
axes[0, 0].set_ylabel('Total Amount')

# Age distribution
axes[0, 1].hist(clean_df['age'], bins=10, color='green', edgecolor='black', alpha=0.7)
axes[0, 1].set_title('Age Distribution', fontsize=12)
axes[0, 1].set_xlabel('Age')
axes[0, 1].set_ylabel('Count')

# Purchase amount distribution
axes[1, 0].hist(clean_df['purchase_amount'], bins=10, color='orange', edgecolor='black', alpha=0.7)
axes[1, 0].set_title('Purchase Amount Distribution', fontsize=12)
axes[1, 0].set_xlabel('Amount')
axes[1, 0].set_ylabel('Count')

# Monthly trend
monthly_sales = clean_df.groupby('purchase_month')['purchase_amount'].sum()
axes[1, 1].plot(monthly_sales.index, monthly_sales.values, 'ro-', markersize=8, linewidth=2)
axes[1, 1].set_title('Monthly Purchase Trend', fontsize=12)
axes[1, 1].set_xlabel('Month')
axes[1, 1].set_ylabel('Total Amount')

plt.tight_layout()
plt.show()

---

## 6. Summary

Today you learned:

### DataFrames
- Creation: `pd.DataFrame()` from dict, list, NumPy array
- Exploration: `head()`, `tail()`, `info()`, `describe()`, `shape`
- Indexing: `loc[]` (label), `iloc[]` (integer), `at[]`, `iat[]`
- Filtering: Boolean indexing, `query()`, `isin()`, `between()`

### Missing Data
- Detection: `isnull()`, `sum()`
- Removal: `dropna()` with `how`, `thresh`, `subset`
- Filling: `fillna()`, `ffill()`, `bfill()`
- Interpolation: `interpolate()` with different methods

### GroupBy
- Basic: `groupby()`, `agg()`, multiple aggregations
- Transform: Create columns based on group statistics
- Filter: Keep groups meeting certain criteria

### Merging
- `merge()`: inner, left, right, outer joins
- `concat()`: vertical and horizontal concatenation
- `join()`: index-based joining

### Data Cleaning Process
1. Identify issues (duplicates, missing, invalid values)
2. Remove duplicates
3. Handle invalid values
4. Fill missing values appropriately
5. Standardize categorical data
6. Convert data types
7. Create new features

## Next Steps

Tomorrow (Day 4), we'll dive into **Data Visualization** with Matplotlib and Seaborn!

---

**Great job completing Day 3!**